.d-flex {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	flex-direction: column;
}
.search > form {
	flex-direction: row;
}
.btn-search-bar {
	margin-right: 25px;
}
#logoImage {
	height: 100px;
}

.container {
	margin-left: 20px;
}
.footer {
	height: 250px;
	position: relative;
	margin-top: 10%;
	background-color: var(--bs-gray-dark);
	color: var(--bs-white);
}
.authors {
	text-align: right;
}
.footerText {
	margin-right: 10px;
	padding: 10px;
}
.contact {
	height: 90px;
	text-align: right;
}
.contactButton {
	background-color: #2876f9;
	background-image: linear-gradient(315deg, #2876f9 0%, #6d17cb 74%);
	color: whitesmoke;
	padding: 1rem 3rem 1rem 3rem;
	border-radius: 10px;
	font-size: 130%;
	transition: 0.3s;
}
.contactButton:hover {
	color: black;
	transition: 0.3s;
}

.inputPosition input {
	text-align: left;
	outline: none;
}

#navbarSupportedContent > ul > li > *,
.sessionInfo,
.jnosdfm,
.navbar-itemos {
	color: azure !important;
	font-size: 120%;
}

#navbarSupportedContent > ul > li > a:hover,
#nvbrdrpdwn:hover,
.navbar-itemos:hover {
	color: var(--bs-blue) !important;
}
.login-wrapper {
	z-index: 99;
}
.navbar-collapse {
	justify-content: space-between;
	align-content: stretch;
}

.dropdown-quicklog {
	position: absolute !important;
	transform: translate(-170px, 0px);
}
.search > form > input {
	width: 30rem;
}
.dropdown-toggle {
	outline: none;
	background: none;
	border: none;
}
.inputPosition {
	display: grid;
	grid-template-columns: 1fr 1.3fr 0.3fr;
	grid-auto-rows: minmax(550px, auto);
	gap: 15px;
	align-items: center;
}
.floating {
	margin-top: 15px;
}

.field {
	display: flex;
	flex-flow: column-reverse;
	position: relative;
}

.floating:hover {
	transition: 1s;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.btn:hover {
	transition: 1.5s;
	border: 1px solid black;
}
.btn {
	transition: 1.5s;
}
.button-29,
.button-19 {
	align-items: center;
	appearance: none;
	background-image: radial-gradient(
		100% 100% at 100% 0,
		#5adaff 0,
		#5468ff 100%
	);
	border: 0;
	border-radius: 6px;
	box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	font-family: 'JetBrains Mono', monospace;
	height: 48px;
	justify-content: center;
	line-height: 1;
	list-style: none;
	overflow: hidden;
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
	text-align: left;
	text-decoration: none;
	transition: box-shadow 0.7s, transform 0.7s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	will-change: box-shadow, transform;
	font-size: 18px;
	margin-left: 30px;
	margin-right: 30px;
	animation: floating_btn 2s;
	animation-iteration-count: infinite;
}
.button-19 {
	background-color: #d4418e;
	background-image: linear-gradient(149deg, #d4418e 0%, #0652c5 74%);
}
.button-29:hover,
.button-19:hover {
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
	transform: translateY(-2px);
}

@keyframes floating {
	0% {
		transform: translate(0, 0px);
	}
	50% {
		transform: translate(0, 5px);
	}
	100% {
		transform: translate(0, -0px);
	}
}
.button-29:focus,
.button-19:focus {
	box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}
.button-29:active,
.button-19:active {
	box-shadow: #3c4fe0 0 3px 7px inset;
	transform: translateY(2px);
}

.input-positions-fields,
.field > .inputLogin {
	background-color: #f8f9fa;
	box-shadow: 0 0 0px 1000px #f8f9fa inset;
}
.input-containers {
	width: fit-content;
	margin-left: 30px;
}
.input-positions-fields {
	border-radius: 10px;
	height: 475px;
	filter: none;
	display: grid;
	justify-content: end;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	align-content: center;
}
.image-register-promotion {
	display: grid;
}
.image-register-promotion > div > img {
	padding-left: 10%;
	opacity: 1;
}
.image-register-promotion > div > p {
	display: inline;
	font-size: 1.25rem;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
	color: inherit;
}

label,
.inputLogin {
	transition: all 0.2s;
	touch-action: manipulation;
	transform-origin: left bottom;
}

.inputLogin {
	width: fit-content;
	border: 0px;
	border-bottom: 1px solid black;
	-webkit-appearance: none;
	padding: 0px 0px 8px 6px;
	cursor: text;
	margin-bottom: 0px;
	width: 15rem;
}

.inputLogin:focus,
.shortInputLogin:focus {
	outline: none;
	border-bottom: 1px solid #666;
}

label {
	text-transform: none;
	letter-spacing: 0.05em;
	cursor: none;
	font-size: 10px;
	padding-left: 6px;
	padding-bottom: 8px;
	margin-bottom: 0px;
	opacity: 0.37;
}

.inputLogin:placeholder-shown + label {
	cursor: text;
	max-width: fit-content;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transform: translate(0, 2.125rem) scale(1.5);
}
.inputLogin:-webkit-autofill {
	background-color: white;
}
.inputLogin:autofill {
	background-color: white;
}
.inputLogin::-webkit-input-placeholder {
	opacity: 0;
	transition: inherit;
}

.inputLogin:focus::-webkit-input-placeholder {
	opacity: 0;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
	width: 0.75rem;
}
::-webkit-scrollbar-thumb {
	background-color: #666;
	border-radius: 7px;
}
::-webkit-scrollbar-track {
	border-radius: 7px;
}

.inputLogin:not(:placeholder-shown) + label,
.inputLogin:focus + label {
	opacity: 1;
	transform: translate(0, 0) scale(1);
	cursor: default;
}
.inputLogin:not(:placeholder-shown) + label {
	display: block;
}

.invalidInput {
	color: red;
	font-size: 80%;
	margin: 0px;
}

#progress-bar {
	position: fixed;
	top: 0;
	left: 0;
	height: 10px;
	background: linear-gradient(to right, #4cc9f0, #3f37c9);
	width: 0%;
	z-index: 100;
	opacity: 0.5;
	transition: width 0.25s ease-out;
}
.whole-page {
	padding-bottom: 1000px;
}
.nav-item {
	padding: 0.125rem;
}
.search > ul > li > a:hover {
	transition: 0.5s;
}
.w-100 {
	filter: brightness(50%) !important;
}
.field:nth-child(6) {
	margin-bottom: 15px;
}
.tos {
	display: inline;
	margin-left: 10px;
}
.navbar-nav {
	position: relative;
}
.container-fluid {
	height: 80px;
	display: flex;
}
.navbar-collapse {
	flex-basis: 100%;
	flex-grow: 0;
	align-items: center;
}
.search {
	opacity: 0;
	display: flex;
}

@media all and (min-width: 992px) {
	.sidebar li {
		position: relative;
	}

	.sidebar li .submenu {
		display: none;
		position: absolute;
		left: 100%;
		top: -7px;
		min-width: 240px;
	}

	[dir='rtl'] .sidebar li .submenu {
		right: 100%;
		left: auto;
	}
}

@media (max-width: 991px) {
	.sidebar .submenu,
	.sidebar .dropdown-menu {
		position: static !important;
		margin-left: 0.7rem;
		margin-right: 0.7rem;
		margin-bottom: 0.5rem;
	}
}

.sidebar .nav-link {
	font-weight: 500;
	font-size: 120%;
	color: var(--bs-dark);
}

nav.sidebar.card.py-2 {
	display: grid;
	width: 300px;
	height: fit-content;
	margin-top: 2rem;
	margin-left: 2rem;
}
.myAccount {
	display: grid;
	grid-template-columns: 0.3fr 1fr;
	grid-template-rows: 750px;
	gap: 0px 2em;
	grid-template-areas: '. .';
	justify-items: center;
}
.userMain {
	width: auto;
	height: auto;
	display: grid;
	grid-column: 2;
	grid-row: 1;
	align-content: space-between;
}
.sidebar .nav-item {
	padding: 1.2rem 0.5rem;
	padding-left: 2rem;
}
.sidebar li:hover:first-child {
	background: none;
}
.sidebar .nav-link:hover {
	color: var(--bs-blue);
}
.link-text {
	font-weight: 350 !important;
}
a {
	cursor: pointer;
}
.nav-item-menu {
	cursor: context-menu;
	font-size: 150%;
}
.review-block {
	flex-direction: column;
	justify-content: flex-start;
	overflow-y: scroll;
}

.trainer-Picture {
	width: 100px;
	border-radius: 100%;
	border: 0.125rem solid black;
	background-color: black;
	opacity: 98%;
}
.trainer-show {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	background: linear-gradient(to bottom, #d5dee7 0%, #e8ebf2 50%, #e2e7ed 100%),
		linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.02) 50%,
			rgba(255, 255, 255, 0.02) 61%,
			rgba(0, 0, 0, 0.02) 73%
		),
		linear-gradient(33deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
	background-blend-mode: normal, color-burn;
	background-blend-mode: multiply, multiply;
	padding: 30px;
	border-radius: 50px;
	margin: 25px 50px 25px 50px;
}
.trainer-show > p {
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.trainer-show > img {
	margin-right: 15px;
}
.trainer-show > p > a {
	text-decoration: none;
	color: black;
	transition: 0.45s;
}
.trainer-show > p:last-child {
	margin-left: auto;
	width: 200px;
}
.trainer-show > p:nth-child(5) {
	width: -webkit-fill-available;
}
.trainer-show > p > a:hover {
	transition: 0.3s;
	color: whitesmoke;
}
b.hoverOnInfo {
	transition: 0.2s;
}
b.hoverOnInfo:hover {
	transition: 0.2s;
	cursor: context-menu;
	color: var(--bs-blue);
}
p.myTrainers {
	margin-right: 1.5rem;
	display: inline;
}

.trainerSelect {
	display: inline-block;
	margin-bottom: 1rem;
	margin-top: 0.5rem;
	margin-right: 4rem;
	padding: 0.3rem;
	padding-right: 1rem;
	transition: 1s;
}
.trainerSelect {
	position: relative;
	line-height: 3;
	overflow: hidden;
	border-radius: 0.25em;
}
.trainerSelect::after {
	content: '\25BB';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 0 1em;
	background: #34495e;
	pointer-events: none;
}
.trainerSelect::after {
	-webkit-transition: 0.25s all ease;
	-o-transition: 0.25s all ease;
	transition: 0.25s all ease;
}

#reviewSubmit {
	display: inline-block;
	padding: 0.3rem;
}
textarea {
	width: max-content;
	resize: vertical;
}
.newWeight {
	display: inline;
	padding: 1rem 0rem 1rem 1rem;
}
p.newWeight {
	margin-right: 0.5rem;
}
.weightInput {
	padding: 0.125rem;
}

.gridInGrid {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(7, max-content);
	grid-template-rows: repeat(4, max-content);
	grid-template-areas:
		'. . . . . . .'
		'. . . . . . .'
		'. . . . . . .'
		'. . . . . . .';
	justify-content: center;
	gap: 1.05rem 0.25rem;
}

.calendar {
	display: grid;
	height: 120px;
	width: 180px;
	background-color: #6a93cb;
	background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
	border-radius: 16px;
	padding: 1em;
}

.treningType {
	transition: 0.45s;
	font-weight: 400;
	margin: 0px;
	font-size: inherit;
}
.trainingDesc {
	transition: 0.3s;
	width: fit-content;
	margin: 0px;
	margin-left: 2rem;
}
.trainingDesc:hover {
	transition: 0.45s;
	color: var(--bs-blue);
	cursor: context-menu;
}
.freeDay {
	margin: 0px;
	opacity: 0.7;
	cursor: pointer;
	transition: 0.3s;
	user-select: none;
}
.freeDay:hover {
	transition: 0.3s;
	font-weight: 400;
	opacity: 1;
}
.addTraining {
	width: max-content;
	height: max-content;
	background-color: #6a93cb;
	background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
	border-radius: 16px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 40%;
	padding: 1.125rem;
}
.overlay {
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
.addTraining > form {
	display: grid;
	grid-auto-rows: 1fr;
	grid-template-columns: repeat(4, auto);
	grid-template-rows: repeat(3, auto);
	align-items: baseline;
	gap: 1em 2em;
}
.addTraining > form > * {
	padding: 0.125rem;
	outline: none;
	transition: all 0.2s;
}

.sessionInfo {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	right: 20px;
}
.linkSession {
	color: azure !important;
}
.linkSession:hover {
	color: var(--bs-blue) !important;
}
.userPfp {
	height: 75px;
	width: 75px;
	border-radius: 100%;
	margin-right: 15px;
	border: 2px solid var(--bs-blue);
}
.chart {
	width: 800px;
}
.floating-label-ql {
	padding: 0px;
	margin-left: 0.8rem;
	padding-top: 8px;
	padding-bottom: 7px;
	outline: none;
}
.logInInputs {
	margin-left: auto;
	display: flex;
	flex-flow: row-reverse;
	align-items: center;
}
.navUserInput {
	width: 20rem;
	color: black !important;
	outline: none;
	background-color: white;
}
.navbar-nav {
	align-items: center;
}
/* .navUserInput:first-of-type {
	margin-right: 1rem;
} */

.floating-label-ql {
	color: black;
}
.navUserInput:placeholder-shown + label {
	opacity: 1;
	cursor: text;
	max-width: fit-content;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transform: translate(0, 2.5rem) scale(1.5);
}
.navUserInput:not(:placeholder-shown) + label,
.navUserInput:focus + label {
	opacity: 1;
	transform: translate(16rem, 2rem) scale(1);
	cursor: default;
	width: max-content;
}
.navUserInput:not(:placeholder-shown) + label {
	display: block;
}
.horizontalOption {
	display: inline-block;
}
.chartTypes {
	height: 68px;
	outline: none;
	margin-top: 1rem;
	padding-left: 11px;
}
.chartTypes > option {
	padding: 10px;
	margin: 12px;
	height: fit-content;
}
.chartTypes > option:active {
	background-color: var(--bs-blue);
	color: white;
}
.chartTypes > option:hover {
	background-color: var(--bs-blue);
	color: white;
}
.typesContainer {
	margin: 0 auto;
	width: fit-content;
}
form.d-flex {
	margin-bottom: 0px;
}

.wrapper {
	display: inline-flex;
}

.wrapper .icon {
	position: relative;
	background-color: #ffffff;
	border-radius: 50%;
	padding: 15px;
	margin: 10px;
	width: 50px;
	height: 50px;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
	position: absolute;
	top: 0;
	font-size: 14px;
	background-color: #ffffff;
	color: #ffffff;
	padding: 5px 8px;
	border-radius: 5px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
	position: absolute;
	content: '';
	height: 8px;
	width: 8px;
	background-color: #ffffff;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%) rotate(45deg);
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.footerImages {
	border-radius: 10%;
	width: 40px;
}
.github > .tooltip {
	display: inline;
	width: max-content;
}
.wrapper .icon:hover .tooltip {
	top: -45px;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
	background-color: #3b5999;
	color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
	background-color: #46c1f6;
	color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
	background-color: #e1306c;
	color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
	background-color: #333333;
	color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
	background-color: #de463b;
	color: #ffffff;
}
.navbar-nav .navbar-itemos {
	padding: 0.5rem 1rem !important;
}
.quicklog-input {
	padding: 10px;
}
#carouselExampleCaptions {
	width: 80%;
	margin: 0 auto;
	border-radius: 5px;
}
.carousel-inner {
	border-radius: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.dropdown-menu {
	z-index: 99;
}
