.d-flex {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	flex-direction: column;
}
#navbarSupportedContent > form{
	flex-direction: row;
}
.btn-search-bar{
	margin-left: 25px;
}
#logoImage {
	height: 100px;
}

.container {
	margin-left: 20px;
}
#footer {
	text-align: right;
}

.inputPosition input {
	text-align: left;
	outline: none;
}

#navbarSupportedContent> ul > li > a{
	color: azure;
}
.navbar-collapse{
	justify-content: space-between;
	align-content: stretch;
}


#navbarSupportedContent > form > input{
	margin-left: 75px;
	width: 30rem;
}

.inputPosition {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	grid-auto-rows: minmax(550px,auto) ;
	gap: 15px;
	align-items: center
}
input[type="submit"]{
	margin-top: 25px;
}

.field {
	display: flex;
	flex-flow: column-reverse;
	position: relative;
}

input[type=submit]:hover {
	transition: 1s;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	
}
.btn:hover{
	transition: 1.5s;
	border:1px solid black;
}
.btn{
	transition: 1.5s;
}
.button-29 {
	align-items: center;
	appearance: none;
	background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
	border: 0;
	border-radius: 6px;
	box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	font-family: "JetBrains Mono",monospace;
	height: 48px;
	justify-content: center;
	line-height: 1;
	list-style: none;
	overflow: hidden;
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
	text-align: left;
	text-decoration: none;
	transition: box-shadow 0.7s,transform 0.7s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	will-change: box-shadow,transform;
	font-size: 18px;
	margin-left: 30px;
	margin-right: 30px;
	animation: floating_btn 2s;
	animation-iteration-count: infinite;
}

.button-29:focus {
	box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
	box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
	transform: translateY(-2px);
}

.button-29:active {
	box-shadow: #3c4fe0 0 3px 7px inset;
	transform: translateY(2px);
}

.input-positions-fields, .field > input{
	background-color: #f8f9fa;
	box-shadow: 0 0 0px 1000px #f8f9fa inset;
}
.input-containers{
	width: fit-content;
	margin-left: 30px;
}
.input-positions-fields{
	border-radius: 10px;
	height: 475px;
	filter:none;
	display: grid;
    justify-content: end;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	align-content:center;
}
.image-register-promotion{
	display: grid;
}
.image-register-promotion > div > img{
	padding-left: 90px;
}
.image-register-promotion > div > p{
	display: inline;
	font-size: 1.25rem;
	margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;

}




label,
.inputLogin {
	transition: all 0.2s;
	touch-action: manipulation;
	transform-origin: left bottom;
}

.inputLogin{
	width: fit-content;
	border: 0px;
	border-bottom: 1px solid black;
	-webkit-appearance: none;
	padding: 0px 0px 8px 6px;
	cursor: text;
	margin-bottom: 0px;
	width: 15rem;
}


.inputLogin:focus,
.shortInputLogin:focus {
	outline: none;
	border-bottom: 1px solid #666;
}

label {
	text-transform: none;
	letter-spacing: 0.05em;
	cursor: none;
	font-size: 10px;
	padding-left: 6px;
	padding-bottom: 8px;
	margin-bottom: 0px;
	opacity: 0.37;
}

.inputLogin:placeholder-shown + label {
	cursor: text;
	max-width: fit-content;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transform: translate(0, 2.125rem) scale(1.5);
}
.inputLogin:-webkit-autofill {
	background-color: white;
}
.inputLogin:autofill {
	background-color: white !important;
}
.inputLogin::-webkit-input-placeholder {
	opacity: 0;
	transition: inherit;
}

.inputLogin:focus::-webkit-input-placeholder {
	opacity: 1;
}

.inputLogin:not(:placeholder-shown) + label,
.inputLogin:focus + label {
	opacity: 1;
	transform: translate(0, 0) scale(1);
	cursor: default;
	
}

.inputLogin:not(:placeholder-shown) + label {
	display: block;
}
#progress-bar {
	position: fixed;
	top: 0;
	left: 0;
	height: 10px;
	background: linear-gradient(to right, #4cc9f0, #3f37c9);
	width: 0%;
	z-index: 100;
	opacity: 0.5;
	transition: width 0.25s ease-out;
}
.whole-page {
	padding-bottom: 1000px;
}

.w-100{
	filter: brightness(50%) !important;
}
