.d-flex{
    display: flex ;
    flex-wrap: nowrap ;
    align-items: center ;
    flex-direction: column ;
}
.navbar{
    height:120px;
}
#logoImage{
    height: 100px;
}
.navbar > .container, .navbar{
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.container{
    margin-left:20px
}
#footer{
    text-align: right;
}
/* 
.inputPosition {
    display: inline-grid;
    padding: 5px 10px 5px 10px;
    margin-left: 5%;
}
.field
{
    display: flex;
    flex-flow: column-reverse;
    position: relative;
}
.inputPosition input {
    text-align: left;
    outline: none;
}
.inputLogin {
    border: 0px;
    border-bottom: 1px solid black;
    -webkit-appearance: none;
    padding: 10px 5px 10px 15px;
    cursor: text;
    margin-bottom: 10px;
}
label, .inputLogin {
    transition: all 0.2s;
    touch-action: manipulation;
    transform-origin: left bottom;
}
.inputLogin:placeholder-shown + label 
{
    cursor: text;
    max-width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform: translate(0, 2.25rem) scale(1.5);
}
label 
{
    text-transform: none;
    letter-spacing: 0.05em;
    font-size: 10px;
    padding-left: 10px;
    opacity: 0.37;
}
label, .inputLogin {
    transition: all 0.2s;
    touch-action: manipulation;
    transform-origin: left bottom;
} */




.inputPosition input 
{
  text-align: left;
  outline: none;
}

.inputPosition
{
  display: inline-grid;
  padding: 5px 10px 5px 10px;
  margin-left: 5%; 

}
.field {
    display: flex;
    flex-flow: column-reverse;
    position:relative;
}
label, .inputLogin 
{
transition: all 0.2s;
touch-action: manipulation;
transform-origin: left bottom;
}

.inputLogin {
    border: 0px;
    border-bottom: 1px solid black;
    -webkit-appearance: none;
    padding: 10px 5px 10px 15px;
    cursor: text;
    margin-bottom: 0px;
}
.inputLogin:focus, .shortInputLogin:focus{
  outline: none;
  border-bottom: 1px solid #666;
}

label {
  text-transform: none;
  letter-spacing: 0.05em;
  font-size:10px;
  padding-left:10px;
  padding-bottom:0px;
  margin-bottom: 0px;
  opacity: 0.37;
}

.inputLogin:placeholder-shown + label 
{
  cursor: text;
  max-width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform: translate(0, 2.125rem) scale(1.5);
}
.inputLogin:valid{
    background-color: white;
}
.inputLogin:-webkit-autofill{
    background-color: white ;
}
.inputLogin:autofill{
    background-color: white !important;
}
.inputLogin::-webkit-input-placeholder
{
  opacity: 0;
  transition: inherit;
}

.inputLogin:focus::-webkit-input-placeholder
{
  opacity: 1;
}

.inputLogin:not(:placeholder-shown) + label, .inputLogin:focus + label
{
  opacity: 1;
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}

.inputLogin:not(:placeholder-shown) + label
{
  display:block;
}